* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.container {
    background-color: #f8f2f2;
}

.inner {
    margin: 0 auto;
}

.inner_hd {
    width: 100%;
    text-align: center;
    padding: 40px 0 20px 0;
}

.inner_hd h2 {
    font-size: 36px;
    color: #313131;
    font-weight: bold;
    display: inline-block;
    position: relative;
}

h2 img {
    position: absolute;
}

h2 .hd_left {
    left: -37px;
    top: -6px;
    width: 20%;
    opacity: 0.8;
}

h2 .hd_right {
    right: -139px;
    top: -5px;
    width: 70%;
}

/*免费教程资源模块*/
.box {
    padding: 30px 0;
}

.item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    /*换行*/
    flex-wrap: wrap;
}

.item li {
    width: 20%;
    overflow: hidden;
    border-radius: 10px;
    padding: 0 10px 30px 10px;
}

.item li .img_box {
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

.img_box img {
    width: 100%;
    max-height: 100%;
}

.item li h2 {
    font-size: 15px;
    color: #515151;
    line-height: 24px;
    margin: 10px 0;
    padding: 0 10px;
    overflow: hidden;
    /*在多行文本情况下，用省略号隐藏超出范围的文本*/
    text-overflow: ellipsis;
    /*必须结合的属性，将对象作为弹性盒子模型显示*/
    display: -webkit-box;
    /*设置或检索盒子对象的子元素排列方式*/
    -webkit-box-orient: vertical;
    /*将块容器的文字限制为指定的行数，并用省略号填充尾部*/
    -webkit-line-clamp: 1;
    height: 45px;
}

.item li .bottom_box {
    padding: 0 10px;
}

.item li .bottom_box span {
    width: 42px;
    color: #919191;
}

.item li .bottom_box p {
    width: auto;
    float: right;
    background: url("../images/小人.png") no-repeat left center;
    background-size: 13%;
    padding-left: 20px;
    color: #919191;
}