* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'pingfang SC', 'helvetica neue', arial, 'hiragino sans gb', 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
    font-size: 14px;
    -webkit-tap-highlight-color: transparent;
}

.mod-hero {
    height: 800px;
    background-color: #f3f5f8;
    background-image: url("../images/about/bg-banner-pc.png");
    background-size: 1920px 800px;
    background-position: 50%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: relative;
    transition: all .4s;
}

.pls-db-ctn {
    padding-top: 80px;
    margin-left: 332px;
    height: 100%;
    max-width: 640px;
    left: 50%;
}

@keyframes mod-hero-move {
    0% {
        margin-left: -962px;
    }
    50% {
        margin-left: 60px;
    }
    100% {
        margin-left: 864px;
    }
}

.mod-hero:hover:before {
    animation: mod-hero-move 4s infinite linear;
    /*animation-play-state: paused;*/
}

.mod-hero:before {
    /*animation: mod-hero-move 4s infinite linear;*/
    left: 50%;
    margin-left: -962px;
    background: linear-gradient(90deg, #f3f5f8 0, rgba(243, 245, 248, 0));
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 2;
}

.pls-db-title {
    line-height: 84px;
    font-size: 60px;
    color: #252c3a;
    font-weight: 500;
    margin: 0;
}

.pls-db-subtitle {
    margin-top: 8px;
    line-height: 40px;
    font-size: 28px;
    color: #252c3a;
}

.mod-hero__player-btn {
    position: relative;
    display: inline-block;
    vertical-align: 6px;
    padding: 4px 12px 4px 32px;
    line-height: 24px;
    font-size: 12px;
    color: #ffffff;
    border-radius: 16px;
    background-color: #0354d9;
    margin-left: 20px;
}

.mod-hero__player-btn:before {
    content: "";
    display: block;
    position: absolute;
    left: 4px;
    top: 4px;
    width: 24px;
    height: 24px;
    background-image: url(../images/about/About-202112061442.svg);
    background-position: 0.5599999999999999% 20.71%;
    background-size: 841.6666666666666% 804.1666666666666%;
    background-repeat: no-repeat;
}

.pls-db-txt {
    margin-top: 40px;
    line-height: 28px;
    font-size: 16px;
    color: #495770;
    text-align: justify;
}

.mod-hero__event {
    position: absolute;
    bottom: -57px;
    left: 15%;
    z-index: 2;
    padding: 0 10px;
    max-width: 1200px;
    width: 100%;
    /*height: 130px;*/
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 8px 8px 20px 0 rgb(55 99 170 / 10%);
}

.tp-grid__row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
}

.tp-grid {
    display: block;
    flex: 1 1 auto;
    box-sizing: border-box;
}

.mod-hero__event-cell {
    padding: 20px 20px 24px;
    text-align: center;
}

.mod-hero__event-tit {
    line-height: 48px;
    font-size: 32px;
    color: #0052d9;
    font-weight: 400;
    text-align: center;
}

.mod-hero__event-desc {
    margin-top: 12px;
    line-height: 26px;
    font-size: 16px;
    color: #495770;
}

.mod-choose.pls-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-image: url("../images/about/featrue-card-bg_3c0.png");
    padding-bottom: 0;
    padding-top: 124px;
    padding 60px 20px;
}

.pls-section__inner {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1180px;
}

.pls-section__hd {
    margin-bottom: 82px;
    text-align: center;
}

.pls-section__title {
    font-weight: 400;
    font-size: 28px;
    color: #16181a;
    line-height: 48px;
}

.pls-section__desc {
    line-height: 26px;
    font-size: 16px;
    margin-top: 8px;
    color: #495770;
}

.pls-section__bd {

}

.tp-grid__row {
    margin-left: -1px;
    margin-right: -1px;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
}

.tp-grid__col {
    margin-left: -1px;
    margin-right: -1px;
    /*https://blog.csdn.net/Shivy_/article/details/122361132*/
    flex: 0 0 auto;
    width: 20%;
    box-sizing: border-box;
}

.about-feature-card {
    box-sizing: border-box;
    padding: 40px 28px;
    height: 270px;
    max-width: 236px;
    position: relative;
}

.about-feature-card-inner {
    position: relative;
    z-index: 1;
}

.about-feature-card-title {
    margin-bottom: 32px;
    font-size: 20px;
    color: #495770;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: 500;
}

.about-feature-card-desc {
    font-size: 14px;
    color: #9ea6b3;
    letter-spacing: 0;
    line-height: 24px;
    max-height: 120px;
    /*// 将对象作为弹性伸缩盒子模型显示。*/
    display: -webkit-box;
    /*// 从上到下垂直排列子元素（设置伸缩盒子的子元素排列方式）*/
    -webkit-box-orient: vertical;
    /*// 这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数。*/
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}

.tp-grid__col:hover .about-feature-card-desc {
    color: #FFFFFF;
    transition: all .2s ease-in-out;
}

.tp-grid__col:hover .about-feature-card-title {
    color: #FFFFFF;
    transition: all .2s ease-in-out;
}

.tp-grid__col:hover .about-feature-card {
    background: url("../images/about/featrue-card-bg_4c0.png") 50% no-repeat;
    background-size: contain;
}